<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Images</title>
</head>
<body>
    <div class="container">
        <h3>Image Directory</h3>
        <hr>
        <a th:href="@{/upload}" class="btn btn-info btn sm">Add New Image</a>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Image Name</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="image : ${images}">
                    <td th:text="${image.fileName}"></td>
                    <td><img th:src="${'/uploads/'+image.fileName}" class="img-thumbnail"/></td>
                    <td>
                        <a th:href="@{/images/delete(imageId=${image.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if(!(confirm('Are You sure you want to remove this Image?'))) return false">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>